i {
  color: #ff4081
}

p {
  height: 70px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }
}
