.contact-form{
  .title{
      text-align: center;
      font-weight: 500;
  }
  button.send{
      text-transform: uppercase;
  }
}

agm-map {
height: 240px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
}
