<div class="container">
  <div fxLayout="column" fxLayout.xs="column">
    <h1 style="margin-top: 20px">UX and Social Media Design</h1>
    <div>
      <mat-card class="example-card">
        <img class="image" mat-card-image src="../../assets/img/Group_1.jpg" alt="Brooklyn Banking">
        <mat-card-header>
          <mat-card-title>Brooklyn Banking</mat-card-title>
          <mat-card-subtitle>UX Design</mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-divider></mat-divider> -->
        <!-- <mat-card-content>

        </mat-card-content> -->
        <!-- <mat-card-actions>
        <button mat-raised-button color="primary"><a href="https://www.hairnparis.com"> See More</a></button>
      </mat-card-actions> -->
      </mat-card>
    </div>

    <div>
        <mat-card class="example-card">
          <img mat-card-image src="../../assets/img/pjimage.jpg" alt="Bantr Mobile App">
          <mat-card-header>
            <mat-card-title>Bantr Mobile App</mat-card-title>
            <mat-card-subtitle>UX Design</mat-card-subtitle>
          </mat-card-header>
          <!-- <mat-divider></mat-divider> -->
          <!-- <mat-card-content>

          </mat-card-content> -->
        </mat-card>
      </div>

    <div>
      <mat-card class="example-card">
        <img mat-card-image src="../../assets/img/Bundle_Blowout_Banner.jpg" alt="Hair-N-Paris Banner Design">
        <mat-card-header>
          <mat-card-title>Hair-N-Paris</mat-card-title>
          <mat-card-subtitle>Banner Design</mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-divider></mat-divider> -->
        <!-- <mat-card-content>

        </mat-card-content> -->
      </mat-card>
    </div>

    <div>
      <mat-card class="example-card">
        <img class="image" mat-card-image src="../../assets/img/Vacation_all.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>Cano</mat-card-title>
          <mat-card-subtitle>UX Design</mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-divider></mat-divider> -->
        <!-- <mat-card-content>

        </mat-card-content> -->
      </mat-card>
    </div>
  </div>
</div>
