<div id="pricing" class="mt-2 pt-3">
  <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
      <h1>Plans and Pricing</h1>
      <p class="secondary-text-color">Choose the plan that's best for your business.</p>
  </div>
  <mat-tab-group class="pricing-tabs" mat-align-tabs="center">
      <mat-tab label="WORDPRESS">
          <ng-template mat-tab-label>
              <i class="fab fa-wordpress fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>

          </ng-template>
            <app-wordpress></app-wordpress>
        </mat-tab>
      <!-- <mat-tab label="PRICES"><app-monthly></app-monthly></mat-tab> -->
      <mat-tab label="SHOPIFY"><app-shopify></app-shopify></mat-tab>
      <mat-tab label="WIX">
          <ng-template mat-tab-label>
              <i class="fab fa-wix fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>

          </ng-template>
        <app-wix></app-wix>
      </mat-tab>
      <mat-tab label="CUSTOM"><app-custom-site></app-custom-site></mat-tab>
  </mat-tab-group>
</div>
