.nav {
  background: #3f51b5;

}

.unread {
  color: white;
  /* background-color: white; */
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}



a {
  color: white !important;
}

.text {
  color: black !important;
}

.fa.fa-navicon {
  color:white !important;
}
