
<nav class="navbar navbar-expand-lg navbar-light nav" color="primary">
  <a class="navbar-brand"  routerLink="" routerLinkActive="active-link">Envizn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="color: white !important;">
    <span  style="color: white !important;">
        <i class="fas fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="" routerLinkActive="active-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text" mat-menu-item routerLink="/ux" routerLinkActive="active-link">UX Design</a>
          <a class="dropdown-item text" mat-menu-item routerLink="/portfolio" routerLinkActive="active-link">UI Development</a>
        </div>
      </li>
       <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pricing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text" mat-menu-item routerLink="/pricing/webdesign" routerLinkActive="active-link">Web Design</a>
          <a class="dropdown-item text" mat-menu-item routerLink="/pricing/development" routerLinkActive="active-link">UI Development</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link"  routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn"  routerLink="/customer" routerLinkActive="active-link">Create Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="authService.isLoggedIn"  routerLink="/profile" routerLinkActive="active-link">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.isLoggedIn" routerLink="/login" routerLinkActive="active-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn"  (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn" routerLink="/admin" routerLinkActive="active" matBadge="{{badgeCount}}"
          matBadgeColor="warn">Admin</a>
      </li>

    </ul>
    <!-- <div class="nav-item">
     <a routerLink="/cart" class="nav-link"> <i class="fas fa-shopping-cart fa-lg text-white" matBadge="{{cartService.cart.length}}" matBadgeColor="warn"></i></a>
    </div> -->
  </div>

</nav>
