<div class="jumbotron image container-fluid">

</div>

<section class="jumbotron bg-light text-center">
  <div class="container">
    <!-- <h1 class="jumbotron-heading">
      Freelance Software Developer
    </h1>
    <p class="lead text-muted text-left"> I specialize in building fast, responsive web and mobile applications that
      are
      functional, and SEO-friendly. I work with a wide range of clients, including ecommerce stores, law firms,
      entrepreneurs, martial arts schools, health & beauty shops, and start-ups.
    </p> -->
    <h2 style="font-family: 'Raleway', sans-serif">
      <span>
        <strong style="color: #004FFF">STAND OUT </strong>
      </span>
      <span>IN YOUR INDUSTRY</span>
    </h2>
    <p class="text-left">
      We take pride in taking the time to understand your goals, business, and industry before we start designing. We
      consider it a top priority to provide the personal attention and high-quality services you deserve. We
      specialize in all forms of web, print and interactive media, including advertising, signage, brochures as well
      as websites and other forms of media. We have over 15 years of experience and we will develop and execute a
      targeted solution to help your business succeed.
    </p>
  </div>
  <!-- <div class="container mt-3">
    <div class="row">

      <div class="col">
        <i class="fas fa-desktop fa-3x"></i>
      </div>
      <div class="col">
        <i class="fab fa-instagram fa-3x"></i>
      </div>
      <div class="col">
        <i class="fas fa-map fa-3x"></i>
      </div>
      <div class="col">
        <i class="fab fa-wordpress fa-3x"></i>
      </div>
      <div class="col">
        <i class="fab fa-angular fa-3x"></i>
      </div>
    </div>
  </div> -->
</section>

<!-- Stand out in your industry -->
<div class="text-center jumbotron image2">
  <div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="col-sm"> -->
      <!-- <h2 style="font-family: 'Raleway', sans-serif">
        <span>
          <strong style="color: #3f51b5">STAND OUT </strong>
        </span>
        <span>IN YOUR INDUSTRY</span>
      </h2>
      <p class="text-left">
        I take pride in taking the time to understand your goals, business, and industry before I start designing. I
        consider it a top priority to provide the personal attention and high-quality services you deserve. I
        specialize in all forms of web, print and interactive media, including advertising, signage, brochures as well
        as websites and other forms of media. I have over 6 years of experience and I will develop and execute a
        targeted solution to help your business succeed.
      </p> -->
    <!-- </div> -->
    <!-- Icons -->
    <!-- <div class="container" style="margin-top: 15px">
      <div class="row">

        <div class="col">
          <i class="fas fa-desktop fa-3x" style="margin-right: 10px;"></i>
        </div>
        <div class="col">
          <i class="fab fa-instagram fa-3x" style="margin-right: 10px;"></i>
        </div>
        <div class="col">
          <i class="fas fa-map fa-3x" style="margin-right: 10px;"></i>
        </div>
        <div class="col">
          <i class="fab fa-wordpress fa-3x" style="margin-right: 10px;"></i>
        </div>
        <div class="col">
          <i class="fab fa-angular fa-3x" style="margin-right: 10px;"></i>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-sm"> -->
        <app-contact></app-contact>
      <!-- </div> -->
  <!-- </div> -->
</div>
</div>

<app-footer></app-footer>
