<div class="jumbotron image container-fluid">
  <p class="text-left text-white">
    We take pride in taking the time to understand your goals, business, and industry before we start designing. We
  consider it a top priority to provide the personal attention and high-quality services you deserve. We
  specialize in all forms of web, print and interactive media, including advertising, signage, brochures as well
  as websites and other forms of media. We have over 15 years of experience and we will develop and execute a
  targeted solution to help your business succeed.
  </p>
</div>

<!-- <section class="jumbotron text-center"> -->

  <!-- <div class=" mt-3">
    <div class="row">

      <div class="col">
        <img src="https://assets.pcmag.com/media/images/462597-the-bottom-line.jpg?width=333&height=245" alt="" style="width: 200px; height: 150px;">
      </div>
      <div class="col">
        <img src="https://assets.pcmag.com/media/images/462274-shopify-logo.jpg?width=333&height=245" style="width: 200px; height: 150px;" alt="">
      </div>
      <div class="col">
        <img src="https://image.flaticon.com/icons/png/512/15/15986.png" style="width: 200px; height: 150px;" alt="">
      </div>
    </div>
  </div> -->
<!-- </section> -->

<!-- Stand out in your industry -->
<!-- <div class="text-center jumbotron image2">
  <div class="container">
    <div class="row">
    <div class="col-sm">
      <h2 style="font-family: 'Raleway', sans-serif">
        <span>
          <strong style="color: #004FFF">STAND OUT </strong>
        </span>
        <span>IN YOUR INDUSTRY</span>
      </h2>
      <p class="text-left">
        We take pride in taking the time to understand your goals, business, and industry before we start designing. We
      consider it a top priority to provide the personal attention and high-quality services you deserve. We
      specialize in all forms of web, print and interactive media, including advertising, signage, brochures as well
      as websites and other forms of media. We have over 15 years of experience and we will develop and execute a
      targeted solution to help your business succeed.
      </p>
    </div> -->

    <div class="p-2">
      <app-features></app-features>
      <app-our-works></app-our-works>
      <app-our-services></app-our-services>
      <app-testimonials></app-testimonials>
      <!-- <app-pricing></app-pricing> -->
      <app-contact-us></app-contact-us>

    </div>
    <!-- Icons -->
    <div class="container" style="margin-top: 15px">
      <div class="row">

        <div class="col">
          <i class="fas fa-desktop fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>
        </div>
        <div class="col">
          <i class="fab fa-instagram fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>
        </div>
        <div class="col">
          <i class="fab fa-angular fa-3x" style="margin-right: 10px; color: rgb(190, 0, 0);"></i>
        </div>
        <div class="col">
          <i class="fab fa-wix fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>
        </div>
        <div class="col">
          <i class="fab fa-wordpress fa-3x" style="margin-right: 10px; color: rgb(0, 0, 0);"></i>
        </div>

      </div>
    </div>
    <!-- <div class="col-sm"> -->
        <!-- <app-contact></app-contact> -->
      <!-- </div> -->


<app-footer></app-footer>
